* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
}

body { 
    background-color: #000; 
    color: #fff; 
    padding: 20px; 
}

.container { 
    max-width: 600px; 
    margin: 0 auto; 
}

.logoFooter { 
    text-align: center; 
    margin: 20px 0; 
}

.logoHeader { 
    text-align: center; 
    margin-top: 20px;
    margin-bottom: -45px; 
    position: relative;
    z-index: 20; 
}

.logoHeader img { 
    max-width: 80%; 
    background-color: #000;
    padding: 0 10px;
}

/* --- O LABIRINTO --- */
.maze-container {
    position: relative;
    border: 6px double #2121ff;
    border-radius: 40px;
    padding: 50px 20px 40px 20px;
    background-color: #000;
    z-index: 1;
    
    min-height: 580px; 
}

.tunnel {
    position: absolute;
    width: 40px;
    height: 90px;
    background-color: #000;
    
    border-top: 6px double #2121ff;
    border-bottom: 6px double #2121ff;
    border-left: none;
    border-right: none;
    
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Túnel Esquerdo */
.tunnel-left {
    left: -20px;
}

/* Túnel Direito */
.tunnel-right {
    right: -20px;
}

/* --- CONTEÚDO INTERNO --- */
.topSection { 
    display: flex; 
    gap: 15px; 
}

.foto-container {
    width: 130px;
    border: 4px solid #2121ff;
    border-radius: 5px;
    overflow: hidden;
}

.uploadBox {
    background: #fff;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.plus { 
    font-size: 30px; 
    font-weight: bold; 
}

.upload-text { 
    font-size: 12px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.infoFields { 
    flex: 1; 
}

.inputGroup { 
    margin-bottom: 12px; 
}

.inputGroup label { 
    display: block; 
    font-size: 12px; 
    font-weight: bold; 
    margin-bottom: 4px; 
}

.inputGroup input {
    width: 100%;
    background: transparent;
    border: 1px solid #2121ff;
    border-radius: 20px;
    padding: 8px 15px;
    color: #fff;
    outline: none;
}

.row { 
    display: flex; 
    gap: 8px; 
}

/* RELACIONAMENTO */
.statusSection {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); 
    
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 11px;
    
    z-index: 20;
    margin: 0;
}

.bottomFields { 
    margin-top: 250px; 
}

.pacman-yellow {
    width: 25px;
    height: 25px;
    background: #ffff00;
    clip-path: polygon(100% 0%, 100% 35%, 50% 50%, 100% 65%, 100% 100%, 0% 100%, 0% 0%);
    border-radius: 50%;
}

.radio-item { 
    display: flex; 
    align-items: center; 
    cursor: pointer; 
}

.radio-item input { 
    display: none; 
}

.circle {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.radio-item input:checked + .circle {
    background: #ffff00;
    box-shadow: 0 0 10px #ffff00;
}

/* INPUT FELIZ */
.fake-upload-input {
    display: flex;
    border: 1px solid #2121ff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 5px;
}
.fake-upload-input input { 
    border: none; 
    flex: 1; 
    background: transparent; 
    padding: 8px; 
    color: #fff; 
    outline: none; 
}

.fake-upload-input button { 
    background: #ddd; 
    border: none; 
    padding: 0 10px; 
    font-weight: bold; 
    cursor: pointer; 
}

/* BOTÃO FINALIZAR */
.btn-finalizar {
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #2121ff;
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}